.blueimp-gallery > .description {
  position: absolute;
  top: 80px;
  left: 15px;
  color: #fff;
  display: none;
}
.blueimp-gallery-controls > .description {
  display: block;
}

div.links
{
margin: 2px;
border: 0px solid #0000ff;
height: auto;
width: auto;
text-align: left;
}
div.links links
{
display: inline;

}