
    <h1>Welcome To This Wedding Website</h1>
    <h2> <%= link_to("Please create a wedding", register_wedding_path ) %></h2> <br>
    <h2> <%= link_to("please join a wedding", register_path) %> </h2> 