<div id="blueimp-gallery" class="blueimp-gallery">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>



<% unless @pictures.empty? %>
<div id="links"><left> 

  <% @pictures.each do |pic| %>
    
      <%= link_to(image_tag(pic.image.url(:thumb)) , pic.image.url) %>
       
        
       
     
    
  
  <% end %> 
</left></div>
<% end %>

<script>
document.getElementById('links').onclick = function (event) {
  event = event || window.event;
  var target = event.target || event.srcElement,
    link = target.src ? target.parentNode : target,
    options = {index: link, event: event},
    links = this.getElementsByTagName('a');
  blueimp.Gallery(links, options);
};
</script>


