/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require 'masonry/transitions'
 *= require_tree ./normal/
 *= require_self


 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";






.dropdown-backdrop {
    position: static;
}

.alert{

	margin-top: 5px;
}

body,html,.row-offcanvas {
  height:100%;
}

body {
  padding-top: 50px;
}

#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  background-color:#f5f5f5;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}
#main {
  height:100%;
  overflow:auto;
}

/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 220px);
  }
    
  .row-offcanvas-left
  {
    left: -220px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}


 .navbar-default {
  background-color: #9b59b6;
  border-color: #8e44ad;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #8e44ad;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #8e44ad;
}
.navbar-default .navbar-toggle {
  border-color: #8e44ad;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #8e44ad;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #8e44ad;
  }
}


li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
background-color: #9B59B6;
	}

.nav-pills > li.active  {
background-color: #9B59B6;
}

.nav-pills > a:active{
background-color: black;

}

.nav>li>a {
  padding-right: 20px;
}

.nav  .navbar-nav .navbar-right> li{
padding-right: 20px;

}

.btn-info {
  background-color: white;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

nav {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  .navbar-brand {
    a {
      color: #BD1E23;
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

#pins {
  margin: 0 auto;
  width: 100%;
  .box {
    margin: 10px;
    width: 350px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 7px;
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
    }
    h2 {
      font-size: 22px;
      margin: 0;
      padding: 25px 10px;
      a {
        color: #474747;
      }
    }
    .user {
      font-size: 12px;
      border-top: 1px solid #EAEAEA;
      padding: 15px;
      margin: 0;
    }
  }
}

#edit_page {
  .current_image {
    img {
      display: block;
      margin: 20px 0;
    }
  }
}

#pin_show {
  .panel-heading {
    padding: 0;
  }
  .pin_image {
    img {
      max-width: 100%;
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
  .panel-body {
    padding: 35px;
    h1 {
      margin: 0 0 10px 0;
    }
    .description {
      color: #868686;
      line-height: 1.75;
      margin: 0;
    }
  }
  .panel-footer {
    padding: 20px 35px;
    p {
      margin: 0;
    }
    .user {
      padding-top: 8px;
    }
  }
}

textarea {
  min-height: 250px;
}